img, .card-title.price {
  justify-self: center;
  margin-top: 25px;
}

.card, .card-body {
  display: grid;
}

.card {
  margin-bottom: 25px;
  margin-top: 10px;
  border-width: 3px;
  border-color: darkgrey;
}

.btn-primary {
  background: bisque;
  border-color: #000000;
  color: #000000;
  font-weight: 600;
}

.btn-primary:hover {
  background: lightgrey;
}
