<div class="contaiter m-5">
  <h1>Товары</h1>

  <div class="row">
    <div class="col-3" *ngFor="let item of items">
      <div class="card" style="width: 18rem;">
        <img src="{{ item.img }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{item.description}}</p>
          <h5 class="card-title price">{{ item.price }} р.</h5>
          <a [routerLink]="['/items','edit', item.id]" class="btn btn-primary">Редактировать товар</a>
        </div>
      </div>
    </div>
  </div>
  <p *ngIf="!items || items.length == 0">Товаров нет!</p>
</div>
