.navbar {
  background: bisque;
}

.navbar-item {
  color: #000000 !important;
  font-weight: 700;
  font-size: 18px;
  margin-right: 24px;
}

.container {
  margin-left: 5%;
}

.navbar-item {
  border: darkgrey 2px solid;
  border-radius: 10px;
  padding: 5px;
}

.navbar-item:hover {
  background: lightgrey;
}
